<template>
  <div class="container">
    <h1>Notas</h1>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="mensaje.color"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      {{mensaje.texto}}
    </b-alert>

    <form @submit.prevent="editarNota(itemEditar)" v-if="editar">
      <h3 class="text-center">Editar Nota</h3>
      <input type="text" class="form-control my-2" placeholder="Nombre" v-model.trim="itemEditar.nombre">
      <input type="text" class="form-control my-2" placeholder="Descripcion" v-model.trim="itemEditar.descripcion">
      <b-button class="btn-sm mx-2" variant="primary" type="submit">Editar</b-button>
      <b-button class="btn-sm" variant="secondary" type="submit" @click="editar = false">Cancelar</b-button>
    </form>

    <form @submit.prevent="agregarNota" v-else>
      <h3 class="text-center">Agregar nueva Nota</h3>
      <input type="text" class="form-control my-2" placeholder="Nombre" v-model.trim="item.nombre">
      <input type="text" class="form-control my-2" placeholder="Descripcion" v-model.trim="item.descripcion">
      <b-button class="btn-sm btn-block" variant="primary" type="submit">Agregar</b-button>
    </form>

    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="nota in notas" :key="nota._id">
          <th scope="row">{{ nota._id }}</th>
          <td>{{ nota.nombre }}</td>
          <td>{{ nota.descripcion }}</td>
          <td>
            <b-button class="btn-sm mx-2" variant="secondary" @click="activarEdicion(nota._id)">Actualizar</b-button>
            <b-button class="btn-sm mx-2" variant="danger" @click="eliminarNota(nota._id)">Eliminar</b-button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" :class="{'disabled': paginaActual === 1}">
          <router-link class="page-link" :to="{query: {pagina: paginaActual -1 }}">Anterior</router-link>
        </li>
        <li class="page-item" v-for="(item, index) in cantidadPaginas" :key="index" :class="{'active': paginaActual === item}">
          <router-link :to="{query: {pagina: item}}" class="page-link">{{item}}</router-link>
        </li>
        <li class="page-item" :class="{'disabled': paginaActual === cantidadPaginas}">
          <router-link class="page-link" :to="{query: {pagina: paginaActual + 1}}">Siguiente</router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data () {
    return {
      totalNotas: 0,
      limite: 5,
      paginaActual: 1,
      notas: [],
      mensaje: { color: 'success', texto: '' },
      dismissSecs: 5,
      dismissCountDown: 0,
      item: { nombre: '', descripcion: '' },
      itemEditar: {},
      editar: false
    }
  },
  // created () {
  //   this.listarNotas()
  // },
  watch: {
    "$route.query.pagina": {
      immediate: true,
      handler(pagina) {
        pagina = parseInt(pagina) || 1
        this.paginacion(pagina)
        this.paginaActual = pagina
      }
    }
  },
  methods: {
    listarNotas () {
      let config = {
        headers: {
          token: this.token
        }
      }
      this.axios.get('/nota', config)
        .then(res => {
          this.notas = res.data.notas
        })
        .catch(e => {
          console.log(e.response)
        })
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs
    },
    agregarNota() {
      let config = {
        headers: {
          token: this.token
        }
      }
      this.axios.post('/nota', this.item)
        .then(res => {
          this.mensaje.texto = 'Nota Agregada!'
          this.showAlert()
          this.notas.push(res.data)
          this.item.nombre = ''
          this.item.descripcion = ''
        })
        .catch(e => {
          console.log(e.response)
          if (e.response.data.error?.errors.nombre.message) {
            this.mensaje.texto = e.response.data.error.errors.nombre.message
          }
          else if (e.response.data.mensaje) {
            this.mensaje.texto = e.response.data.mensaje
          }
          else {
            this.mensaje.texto = 'Error del sistema'
          }
          this.mensaje.color = 'danger'
          this.showAlert()
        })
    },
    eliminarNota(id) {
      this.axios.delete(`/nota/${id}`)
        .then(res => {
          let index = this.notas.findIndex(item => item.id === res.data._id)
          this.notas.splice(index, 1)

          this.mensaje.texto = 'Nota Eliminada!'
          this.showAlert()
        })
        .catch(e => {
          console.log(e.response)
        })
    },
    activarEdicion(id) {
      this.editar = true
      this.axios.get(`/nota/${id}`)
        .then(res => {
          this.itemEditar = res.data
        })
        .catch(e => {
          console.log(e.response);
        })
    },
    editarNota(nota) {
      this.axios.put(`/nota/${nota._id}`, nota)
        .then(res => {
          let index = this.notas.findIndex(item => item._id === res.data._id)
          this.notas[index].nombre = res.data.nombre
          this.notas[index].descripcion = res.data.descripcion

          this.mensaje.texto = 'Nota Editada!'
          this.showAlert()
        })
        .catch(e => {
          console.log(e.response);
        })
      this.editar = false
    },
    paginacion(pagina) {
      let config = {
        headers: {
          token: this.token
        }
      }
      let skip = (pagina - 1) * this.limite
      this.axios.get(`/nota?limite=${this.limite}&skip=${skip}`, config)
        .then(res => {
          this.notas = res.data.notas
          this.totalNotas = res.data.totalNotas
        })
        .catch(e => {
          console.log(e.response)
        })
    }
  },
  computed: {
    ...mapState(['token']),
    cantidadPaginas() {
      return Math.ceil(this.totalNotas / this.limite)
    }
  }
}
</script>
